.flex-projects {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.project-card {
    display: flex;
    gap: 35px;
}

.project-info {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-info h3 {
    font-size: 24px;
}

.project-description {
    font-size: 16px;
    text-align: start;
}


.project-image {
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
    width: 450px;
}

@media (max-width: 1440px) {
    .project-info {
        gap: 15px;
    }

    .project-card {
        flex-direction: column;
        gap: 20px;
    }

    .flex-projects {
        align-items: center;
    }
}

@media (max-width: 470px) {
    .project-image, .project-info {
        width: 350px;
    }

    .flex-projects {
        gap: 50px;
    }
}

.project-chip-list {
    display: flex;
    gap: 10px;
}
.chip-technology {
    display: flex;
    gap: 10px;
}

.project-actions {
    display: flex;
    gap: 20px;
}

.project-card button {
    width: 100px;
    background-color: var(--body-color);
    border: solid 1px;
    border-radius: 10px;
    height: 45px;
    width: auto;
    padding: 0 10px;
}