@keyframes show {
    from {
        scale: 70%;
    }

    to {
        scale: 100%;
    }
}

section, h2 {
    view-timeline-name: --reveal;

    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}