@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: var(--primary-text-color);
}

body {
    background-color: var(--body-color);
}

section {
    padding: 100px 18%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
}

li {
    margin-right: 15px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.presentation-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_photo {
    height: 480px;
    width: 480px;
}

.presentation {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 55px;
}

.greeting {
    font-size: 18px;
    text-transform: uppercase;
}


.rol,
.overlay h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.overlay h1 {
    color: var(--body-color);
}

.rol {
    color: var(--teretiary-color);
}

.description,
.overlay p {
    font-size: 20px;
}

.description {
    max-width: 450px;
}

button {
    width: 180px;
    height: 65px;
    color: var(--body-color);
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    background-color: var(--primary-color);
}

.card-project {
    width: 330px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    border-radius: 30px;
}

.card-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: scale(0);
    transition: .3s ease;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
}

.card-project:hover .overlay {
    transform: scale(1);
}

.grid-projects {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,
            minmax(350px,
                1fr));
    gap: 16px;
}

h2 {
    text-align: center;
    font-size: 33px;
}

.logo {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1px;
}


.border {
    color: #111111;
    position: inherit;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        1px 1px 0 white,
        -1px 1px white;
}

.wave {
    color: var(--primary-color);
    animation: wave 3s ease-in-out infinite;
}

.logo div {
    position: absolute;
}

@keyframes wave {

    0%,
    100% {
        clip-path: polygon(0% 47%,
                10% 48%,
                33% 54%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}


.skill_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 100px;
    gap: 20px;
}

.grid-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(250px,
                1fr));
    justify-items: center;
    gap: 16px;
}

footer {
    background: var(--primary-color);
    color: var(--body-color);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin-top: 100px;
}

@media (max-width: 1300px) {
    section {
        padding: 80px 12%;
    }
}

@media (max-width: 1200px) {
    section {
        padding: 80px 10%;
    }
}

@media (max-width: 900px) {
    section {
        flex-direction: column;
        text-align: center;
    }

    .download-cv {
        margin: auto;
    }

    .about_photo {
        height: 90%;
        width: 90%;
    }
}

@media (max-width: 490px) {
    .grid-projects {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit,
                minmax(90%,
                    1fr));
    }

    .card-project {
        width: 95%;
        height: 250px;
    }
}
