:root {
    --primary-color: #7fda89;
    --secondary-color: #e6f99d;
    --teretiary-color: #259073;
    --primary-text-color: white;
    --secondary-text-color: rgb(105, 105, 105);
    --body-color: #041122;
}